body{
    padding-top: 50px;
}

/*
@media screen and (min-width: 800px) {

    body{
         background:url('../img/bg.png');
         background-size: 100%;
         background-repeat: repeat-y;
         padding-top: 100px;
       }

} */

.background .background-left {
    position: fixed;
    top: 14px;
    left: -60px;
    width: 155px;
    height: 100%;
    z-index: -1;
    background-image: url("../img/background-left.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    pointer-events: none;
    cursor: default;
}

.background .background-right {
    position: fixed;
    top: 14px;
    right: -130px;
    width: 249px;
    height: 100%;
    z-index: -1;
    background-image: url("../img/background-right.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    pointer-events: none;
    cursor: default;
  }

@media only screen and (min-width: 768px) {
    .conteudo {
        width: 75%;
        width: calc(100%-100px)!important;
    }

    .background .background-left {
      background-size: cover;
      left: 0;
      top: 0;
    }

    .background .background-right {
      background-size: cover;
      right: 0;
      top: 0;
    }
}

.row{
    padding-top: 20px;
}

img.img-kit {
    object-fit: cover;
    max-height: 130px;
    max-width: 130px;
}

a.cart{
    color: red;
}

.edit-name {
    display: none;
}

.kit-quantity {
    float: right;
    margin-right: 5px;
    position: relative;
    width: 70px;
    overflow: hidden;
}

.product {
    margin-top: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 280px;
}

.product .product-image{
    padding: 5px;
    position:relative;
    transition:all .3s ease 0s;
    height: 160px;
}

.product .product-image a{
    display:block;
}

.product .product-image img{
    object-fit: cover;
    max-height:150px;
}

.product .product-content{
    padding:5px 0;
    text-align:center;
}

.product .product-footer {
    margin-top: -20px;
}

.product .product-footer button{
    padding: 5px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}

.hide {
    display: none;
}

.center-cropped {
    object-fit: cover;
    object-position: center;
    height: 250px;
    width: 250px;
}

.center-portrait {
    object-fit: cover;
    object-position: center;
    height: 250px;
    width: 400px;
}

input.form-control.quantity {
    float: right;
    margin-right: 5px;
    position: relative;
    width: 70px;
    overflow: hidden;
}
